<!DOCTYPE html>
<html lang="en">
	<head>
			<link rel="stylesheet" href="../styles/reset.css">
			<link rel="stylesheet" href="../styles/base.css">
			<link rel="stylesheet" href="../styles/modules.css">
			<link rel="stylesheet" href="../styles/icons.css">
			<link href="https://fonts.goog6leapis.com/css?family=Hepta+Slab%7CMerriweather&display=swap" rel=“stylesheet”>
			<title>Book Collection</title>
	</head>
	<body>
		<%- include('../../layout/header') %>
		<main>
			<%- include('details', {book: book}) %>
		</main>
		<%- include('../../layout/footer') %>
	</body>
</html>