<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/base.css">
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab%7CMerriweather&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div id="error">
    <h1>Oops! Something went wrong!</h1>
    <p>Maybe you spelled it wrong?</p>
  </div>
</body>
</html>