html {
	height: 100%;
}

body {
  font-size: 20px;
  background-color: darkgray;
	position: relative;
	text-align: center;
	font-size: 16px;
  color: white;
  font-family: 'Merriweather', serif;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: lightgrey;
}

form {
	background-color: firebrick;
	color: black;
	border: 10px solid black;
	border-radius: 25px;
	padding: 30px;
}

button{
	background-color: aqua;
	padding: 5px;
	border-radius: 3px;
	border: outset;
}

#error {
  color: red;
  font-size: 40px;
}
