
body {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

body::after {
  content: "";
  background: url(/images/library.jpg);
	background-size: contain;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

header {
	display: inline-block;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: 25px;
	margin: 25px;
}

main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	position: absolute;
  border: 5px solid burlywood;
  margin: 20px;
	background-color: blanchedalmond;
	color: brown;
	margin-left: 5%;
	margin-right: 5%;
	box-sizing: border-box;
}

h4 {
	width: 100%;
	font-size: 2rem;
	margin: 5px;
}

#collection {
	width: 100%;
	text-align: center;
}

#book-list{
	display: inline-block;
	width: 90%;
	height: 90%;
	border: 5px solid black;
	background-color: lightgrey;
	border-radius: 25px;
}

p{
	color: black;
}

.book-items{
	display: flex;
	justify-content: center;
	width: 98%;
	height: 500px;
	margin: 1%;
	overflow: auto;
	border-radius: 15px;
}

.detail-button{
	position: relative;
}

