header {
	display: inline-block;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: 25px;
	margin: 25px;
	margin-left:50px;
}

main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	position: absolute;
  border: 5px solid burlywood;
	background-color: blanchedalmond;
	color: grey;
	margin: 150px 5% 0px 5%;
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
}

h4 {
	width: 100%;
	font-size: 2rem;
	margin: 5px;
}

li {
	display: inline-block;
	padding: 3px;
	border: none;
	background: 0%;
}

#collection {
	width: 100%;
	text-align: center;
}

#book-list{
	display: inline-block;
	width: 90%;
	height: 90%;
	border: 5px solid black;
	background-color: lightgrey;
	border-radius: 25px;
}

p{
	color: black;
}

.book-items{
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 20px auto;
	border-radius: 15px;
}

.detail-button{
	position: relative;
	bottom: 10px;
}

h3 {
	margin: 5px;
}

span {
	display: block;
}